*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
   font-family: 'times new roman', serif;
}

body{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    gap: 20px;
}


