
body{
  margin-top: 10%;
  margin-left: 35%;

}

div{
  background-color: beige;
  color: black;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
    border: 1px solid black;
    border-radius: 5px;
}

.error-input{
  border : 4px solid red;
}

.error-msg{
  color:  red;
}