.user-container{
    background-color: rgb(236, 204, 163);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 1.5rem;
    margin: 1rem;
}


.user-image{
    height: 100px;
    border-radius: 100px;
}